@import "tailwindcss";
@layer base {
  :root {
    --color-white: #ffffff;
    --color-text: #a3a3a3;
  }

  .dark {
    --bg-line-color: rgba(128, 128, 128, 0.214);
    --bg-overlay: rgba(0, 0, 0, 0.3);
    --bg-base-color: #1a1a1a;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(var(--bg-overlay), var(--bg-overlay)),
    linear-gradient(var(--bg-line-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--bg-line-color) 1px, transparent 1px);
  background-size: 100% 100%, 20px 20px, 20px 20px;
}
.masonry-column {
  display: flex;
  flex-direction: column;
}
